* {
	-unity-font-definition: url(/Assets/Fonts/High_Birth.ttf);
	color: #FFD787;
}

.main-container {
	padding-left: 3%;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.title {
	margin-top: 30px;
	font-size: 70px;
	color: #306850;
	-unity-font-style: bold;
	-unity-font-definition: url(/Assets/Fonts/High_Birth.ttf);
	text-shadow: 0 10px 0 black;
}

.buttons-container {
	align-items: flex-end;
	width: 100%;
	padding-right: 2%;
	height: auto;
	padding-top: 10%;
	flex-grow: 1;
}

Button {
	padding: 3%;
	font-size: 30px;
	width: 500px;
	height: 130px;
	margin-bottom: 30px;
	border-color: transparent;
	background-color: transparent;
	text-shadow: 0 10px 0 black;
	-unity-font-definition: url(/Assets/Fonts/High_Birth.ttf);
	background-image: url(/Assets/Images/OrnateUI/GreenboyUISheet.png#buttonNormal9-Slice);
}

Button:hover {
	background-image: url(/Assets/Images/OrnateUI/GreenboyUISheet.png#buttonHovered9-Slice);
}

Button:active {
	background-image: url(/Assets/Images/OrnateUI/GreenboyUISheet.png#buttonPressed9-Slice);
}

Button:focus {
	border-color: transparent;
}

.version-label {
	font-size: 35px;
	margin-right: 21px;
	align-self: flex-end;
	-unity-font-style: bold;
	text-shadow: 0 10px 0 black;
}
